<section id="cover">
    <div id="cover-caption">
      <div class="container-fluid">
        <div class="justify-content-center">
          <div class="col-sm-10 text-center">
              <h1>Welcome to Lettuce Connect!</h1>
              <% if current_user %>
                <h2>Hello <%= "#{current_user.first_name} #{current_user.last_name}"%> </h2>
                <h3>Your Lettuce ID is: <%="#{current_user.id}" %>  </h3>
              <% else %>
                <h1><%= link_to "Sign in with Github", github_login_path %></h1>
                <h2>If this is your first time visitin lettuce connect, please use the register link to sign up</h2>
              <% end %>
          </div>
      </div>
      </div>
    </div>
</section>
