<div class="row">
  <div class="center-block">
      <div class="container-fluid">
        <div class="justify-content-center">
          <div class="col-sm-12">
            <br>
          <% @handles.each do |handle| %>
            <div class="card" style="width: 20rem; height: 10rem;" >
              <div class="card-header font-weight-bold"><%= handle.handle_type.name %></div>
              <div class="card-body text-center"><%= handle.name %></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
